<section class="py-5">
  <div class="container">
    <h1 class="text-uppercase text-center text-white">about</h1>
    <app-decoration [isWhite]="true"></app-decoration>
    <div class="row mt-3">
      <div class="col-md-6">
        <div class="inner">
          <p class="about-desc">
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML, CSS, and
            JavaScript as well as optional SASS stylesheets for easy
            customization.
          </p>
        </div>
      </div>

      <div class="col-md-6 mt-4 mt-md-0">
        <div class="inner">
          <p>
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML, CSS, and
            JavaScript as well as optional SASS stylesheets for easy
            customization.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
